{% extends 'WoojinFrontBundle::base.html.twig' %}
{% import 'WoojinFrontBundle:Widget/Custom/Form:schema.html.twig' as formSchemaWidget %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
       {{ flashMessage }}
   </div> 
{% endfor %}

{{ form_start(form) }}

<h2>請填寫您的Email</h2>

<div class="login-input reg-input">
    {{ form_errors(form.email) }}
    {{ formSchemaWidget.input(form_widget(form.email,{
        'required': true,
        'attr': {
            'placeholder': '請輸入您的電子信箱(信箱即為您的登入帳號)',
            'class': 'form-control'
        }
    }) ) }}
</div>

<button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">確認</button>
{{ form_end(form) }}

