<ul class="nav nav-tabs" role="tablist">
    {% for auction in product.auctions %}
        <li role="presentation" class="{% if loop.last %}active{% endif %}">
            <a href="#auction_{{ auction.id }}" role="tab" data-toggle="tab">
                <span class="label
                {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_ONBOARD') %}
                    label-info
                {% endif %}
                {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_SOLD') %}
                    label-success
                {% endif %}
                {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_BACK_TO_STORE') %}
                    label-default
                {% endif %}">{{ auction.getStatusName() }}</span>

                {% if
                constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_NOT_PAID_YET') == auction.profitStatus
                and auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_SOLD')
                %}
                <span class="text-muted">尚未付款</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}

    <div class="tab-content">
    {% for auction in product.auctions %}
        <div role="tabpanel" class="tab-pane {% if loop.last %}active{% endif %}" id="auction_{{ auction.id }}">
            <div class="row margin-only-left-10">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ auction.getCreaterName() }}@{{ auction.createAt|date('Y-m-d H:i:s') }}建立
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><b>客戶{{ auction.getSellerName() }}{{ auction.getSellerMobil() }}佔比:</b>
                                    <span class="text-info">{{ auction.customPercentage }}</span>
                                </li>
                                <li><b>{{auction.getCreateStoreName()}}佔比:</b> <span class="text-info">{{ auction.storePercentage() }}</span></li>
                                <li><b>BSO佔比:</b> <span class="text-info">{{ auction.bsoPercentage() }}</span></li>
                            </ul>
                        </div>
                    </div>

                    {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_SOLD') %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ auction.getBsserName() }}@{{ auction.getSoldAtString() }}售出{{ auction.price }}元
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><b>買家:</b> {{ auction.getBuyerName()}} <span class="badge">{{ auction.getBuyerMobil}}</span> </li>
                                <li><b>客戶{{ auction.getSellerName() }}{{ auction.getSellerMobil() }}分潤:</b> <span class="text-danger">{{ auction.getCustomProfit() }}</span></li>
                                <li><b>{{auction.getCreateStoreName()}}分潤:</b> <span class="text-danger">{{ auction.getStoreProfit() }}</span></li>
                                <li><b>BSO分潤:</b> <span class="text-danger">{{ auction.getBsoProfit() }}</span></li>
                            </ul>
                        </div>

                        <div class="panel-footer">
                            {% if app.user.store.id == auction.bsoStore.id %}
                                <form id="auction_sold_at" action="{{ path('auction_update_soldat', {id: auction.id }) }}" method="POST">
                                    <input type="hidden" name="_method" value="PUT" />

                                    <div class="form-group">
                                        {% if app.user|has_auth('CANCEL_ORDER') and app.user.store.id == auction.bsoStore.id %}
                                        <button id="auction_cancel" data-sn="{{product.sn}}" class="btn btn-danger">
                                            <i class="glyphicon glyphicon-remove-sign"></i>
                                            取消售出
                                        </button>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="datetime" name="sold_at" class="form-control" readonly value="{{ auction.getSoldAtString() }}">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-primary">更改售出時間</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>

                    </div>
                    {% endif %}

                    {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_SOLD') %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            付款相關{% if constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_NOT_PAID_YET') == auction.profitStatus %}(尚欠{{auction.getOwe()}}元){% endif %}:
                        </div>

                        <div class="panel-body">
                            {% if constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_NOT_PAID_YET') == auction.profitStatus %}
                            <form id="auction_paid_at" action="{{ path('auction_payment_create', {id: auction.id}) }}" method="post">
                                <div class="form-group">
                                    <label for="bso_amount">付款金額</label>
                                    <input type="text" id="bso_amount" name="amount" class="numeric form-control" />
                                </div>

                                <div class="form-group">
                                    <label for="bso_paytype">付款方式</label>

                                    <select id="bso_paytype" name="pay_type" class="form-control">
                                        {% for payType in payTypes %}
                                        <option value="{{payType.id}}">{{payType.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="bso_paidat">付款時間</label>
                                    <input type="datetime" name="paid_at" class="form-control" readonly value="{{ "now"|date('Y-m-d') }}">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-ok"></i>
                                        確認
                                    </button>
                                </div>
                            </form>
                            {% endif %}

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>金額</th>
                                        <th>付款方式</th>
                                        <th>操作人員</th>
                                        <th>時間</th>
                                        <th>記錄</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in auction.payments %}
                                    <tr {% if true == payment.isCancel %}class="danger"{% endif %}>
                                        <td>
                                            {{payment.amount}}
                                            {% if true == payment.isCancel %}
                                            <p class="text-warning">
                                                {{payment.canceller.username}}於{{payment.cancelAt.format('Y-m-d')}}作廢
                                            </p>
                                            {% endif %}
                                        </td>
                                        <td>{{payment.payType.name}}</td>
                                        <td>{{payment.creater.username}}</td>
                                        <td>
                                            <form class="each_payment" action="{{ path('auction_payment_update', {id: payment.id})}}" method="post">
                                                <input type="hidden" name="_method" value="put">
                                                <input type="datetime" name="paid_at" class="form-control" readonly value="{{payment.paidAt.format('Y-m-d')}}">
                                            </form>
                                        </td>
                                        <td>{% autoescape %}{{ payment.memo|raw }}{% endautoescape %}</td>
                                        <td>
                                            {% if false == payment.isCancel %}
                                            <form action="{{ path('auction_payment_drop', {id: payment.id})}}" method="post">
                                                <input type="hidden" name="_method" value="delete">
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('確定作廢此付款嗎?');">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                    取消
                                                </button>
                                            </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}

                    <div class="panel panel-default">
                        <div class="panel-heading">歷程:</div>
                        <div class="panel-body">
                            {% autoescape %}{{ auction.memo|raw }}{% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</ul>
