<!-- 成本, 售價, 顏色, 新舊, 品牌, 色號, 款式, 型號, 序號, 進貨時間, 材質, 來源, 圖片, 備註 -->
<form id="goods" action="{{ path('goods_update_v2', {id: goods.id }) }}" method="POST" enctype="multipart/form-data" role="form">
    <div class="form-group">
        <label class="col-md-2">狀態</label>

        <div class="col-md-10">
            <span class="label
            {% if goods.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE') %}
                label-primary
            {% elseif goods.status.id in [
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_OTHERSTORE'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ACTIVITY'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_BSO_ONBOARD')
            ] %}
                label-info
            {% elseif goods.status.id in [
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_SOLDOUT'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_BSO_SOLD')
            ]%}
                label-success
            {% elseif goods.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_OFFSALE')%}
                label-danger
            {% elseif goods.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_MOVING')%}
                label-warning
            {% else %}
                label-default
            {% endif %}
            ">{{ goods.status.name }}</span>

            {% if goods.custom %}
                <span class="label label-warning">{{ goods.custom.name }}寄賣</span>
            {% endif %}

            {% if goods.isAllowWeb %}
                <span class="label label-success">官網已上架</span>
            {% else %}
                <span class="label label-default">官網尚未上架</span>
            {% endif %}

            {% if goods.yahooId %}
                <span class="label label-info">
                    商城狀態:
                    <em id="yahoo-status-inline"></em>
                </span>
            {% else %}
                <span class="label label-default">
                    未上傳商城
                </span>
            {% endif %}

            {% if goods.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_OTHERSTORE') %}
                {% for inherit in goods.parent.inherits %}
                    {% if inherit.status.id != constant('Woojin\\Utility\\Avenue\\Avenue::GS_OTHERSTORE') %}
                        &nbsp;他店狀態:<span class="label {% if inherit.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE') %}
            label-primary
            {% elseif inherit.status.id in [
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_OTHERSTORE'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ACTIVITY')
            ] %}
            label-info
            {% elseif inherit.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_SOLDOUT') %}
                label-success
            {% elseif inherit.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_OFFSALE') %}
                label-danger
            {% elseif inherit.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_MOVING') %}
                label-warning
            {% else %}
                label-default
            {% endif %}">{{ inherit.status.name }}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if goods.activity %}
    <div class="form-group">
        <label class="col-md-2">活動</label>

        <div class="col-md-10">
            <span class="label label-info">{{ goods.activity.name }}</span>
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label class="col-md-2">產編</label>

        <div class="col-md-10">
            <em>{{ goods.getSn(true) }}</em>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 text-warning">是否為委拍</label>

        <div class="col-md-10">
            <input type="checkbox" id="isAllowAuction" name="isAllowAuction" data-id="{{ goods.id }}" value="1"
            {% if goods.status.id in [
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ACTIVITY')
            ] and (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %} disabled {% endif %}
                {% if goods.isAllowAuction %}checked{% endif %}
               >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">委拍客戶抽成(%)</label>

        <div class="col-md-10">
            <input type="text" id="bso_custom_percentage" name="bso_custom_percentage" class="form-control" value="{{ goods.getBsoCustomPercentage() }}" {% if false == goods.isAllowAuction %}readonly{% endif %} />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 text-warning">是否為香榭進貨</label>

        <div class="col-md-10">
            <input type="checkbox" name="isAlanIn" data-id="{{ goods.id }}" value="1"
            {% if goods.status.id in [
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ACTIVITY')
            ] and (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %} disabled {% endif %}
                {% if goods.isAlanIn %}checked{% endif %}
               >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">選擇關鍵字</label>

        <div class="col-md-10">
            <select name="seoSlogan_id" class="form-control"
            {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled="disabled"{% endif %}
            >
                <option value="">請選擇</option>

                {% for seoSlogan in seoSlogans %}
                    <option value="{{ seoSlogan.id }}" {% if goods.seoSlogan2 and goods.seoSlogan2.id == seoSlogan.id %}selected{% endif %}>{{ seoSlogan.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">選擇關鍵字2</label>

        <div class="col-md-10">
            <select name="seoSlogan2_id" class="form-control"
            {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled="disabled"{% endif %}
            >
                <option value="">請選擇</option>

                {% for seoSlogan in seoSlogans %}
                    <option value="{{ seoSlogan.id }}" {% if goods.seoSlogan and goods.seoSlogan.id == seoSlogan.id %}selected{% endif %}>{{ seoSlogan.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">輸入關鍵字</label>

        <div class="col-md-10">
            {% if
                (app.user|is_own(goods) and app.user|has_auth('EDIT_PRODUCT_OWN'))
                or app.user|has_auth('EDIT_PRODUCT_ALL')
            %}
                <input type="text" name="seoWord" class="form-control" value="{{ goods.seoWord }}" />
            {% else %}
                <span>{{ goods.seoWord }}</span>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">品名</label>

        <div class="col-md-10">
            {% if
                (app.user|is_own(goods) and app.user|has_auth('EDIT_PRODUCT_OWN'))
                or app.user|has_auth('EDIT_PRODUCT_ALL')
            %}
                <input type="text" name="goods_name" class="form-control" value="{{ goods.getName(true) }}" />
            {% else %}
                <span>{{ goods.getName(true) }}</span>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">售價</label>

        <div class="col-md-10">
            {% if
            goods.status.id in [
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ACTIVITY'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_BEHALF')
            ] and (
                (app.user|is_own(goods) and app.user|has_auth('EDIT_PRICE_OWN')
                or app.user|has_auth('EDIT_PRICE_ALL'))
            )
            %}
                <input type="text" name="goods_price" class="form-control numeric"
             value="{{ goods.price }}" />
            {% else %}
                <span>{{ goods.price|number_format }}</span>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">品牌</label>

        <div class="col-md-10">
            <select name="brand" class="form-control" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled="disabled"{% endif %}>
                <option value="" data-ratio="1">請選擇</option>

                {% for brand in brands %}
                    <option data-ratio="{{ brand.ratio }}" value="{{ brand.id }}" {% if goods.brand and goods.brand.id == brand.id %}selected{% endif %}>{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">網路售價</label>

        <div class="col-md-10">
            {% if
            goods.status.id in [
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ACTIVITY'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_BEHALF')
            ] and (
                (app.user|is_own(goods) and app.user|has_auth('EDIT_WEBPRICE_OWN')
                or app.user|has_auth('EDIT_WEBPRICE_ALL'))
            )
            %}
            <input type="text" name="web_price" class="form-control numeric" value="{{ goods.webPrice }}" />
            {% else %}
            <span>{{ goods.webPrice|number_format }}</span>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">批發價</label>

        <div class="col-md-10">
            {% if
            goods.status.id in [
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_ACTIVITY'),
                constant('Woojin\\Utility\\Avenue\\Avenue::GS_BEHALF')
            ] and (
                (app.user|is_own(goods) and app.user|has_auth('EDIT_PRICE_OWN')
                or app.user|has_auth('EDIT_PRICE_ALL'))
            )
            %}
            <input type="text" name="wholesale_price" class="form-control numeric" value="{{ goods.wholesalePrice }}" />
            {% else %}
            <span>{{ goods.wholesalePrice|number_format }}</span>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">成本</label>

        <div class="col-md-10">
            {% if
                (app.user|is_own(goods) and app.user|has_auth('READ_COST_OWN'))
                or app.user|has_auth('READ_COST_ALL')
            %}
                {% if
                    ((app.user|is_own(goods) and app.user|has_auth('EDIT_COST_OWN'))
                    or app.user|has_auth('EDIT_COST_ALL'))
                %}
                <input type="text" name="goods_cost" class="form-control numeric" value="{{ goods.cost }}" />
                {% else %}
                    <span>{{ goods.cost|number_format }}</span>
                {% endif %}
            {% else %}
                <span class="badge">權限不足</span>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">款式</label>

        <div class="col-md-10">
            <select name="pattern" class="form-control"
            {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled="disabled"{% endif %}
            >
                <option value="">請選擇</option>

                {% for pattern in patterns %}
                    <option value="{{ pattern.id }}" {% if goods.pattern and goods.pattern.id == pattern.id %}selected{% endif %}>{{ pattern.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">型號</label>

        <div class="col-md-10">
            <input type="text" name="model" class="form-control" value="{{ goods.model }}" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}readonly{% endif %}/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">色號</label>

        <div class="col-md-10">
            <input type="text" name="color_sn" class="form-control" value="{{ goods.colorSn }}" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}readonly{% endif %}/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">自定義品牌內碼</label>

        <div class="col-md-10">
            <input type="text" name="custom_sn" class="form-control" value="{{ goods.customSn }}" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}readonly{% endif %}/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">顏色</label>

        <div class="col-md-10 color-div">
            <select name="color" class="form-control" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled="disabled"{% endif %}>
                <option value="">請選擇</option>

                {% for color in colors %}
                    <option value="{{ color.id }}" {% if goods.color and (goods.color.id == color.id) %}selected{% endif %}>{{ color.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">品牌序號</label>

        <div class="col-md-10">
            <input type="text" name="org_sn" class="form-control" value="{{ goods.orgSn }}" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}readonly{% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">材質</label>

        <div class="col-md-10">
            <select name="mt" class="form-control" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled="disabled"{% endif %}>
                <option value="">請選擇</option>

                {% for mt in mts %}
                    <option value="{{ mt.id }}" {% if goods.mt and (goods.mt.id == mt.id) %}selected{% endif %}>{{ mt.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">新舊</label>

        <div class="col-md-10">
            <select name="level" class="form-control" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled="disabled"{% endif %}>
                <option value="">請選擇</option>

                {% for level in levels %}
                    <option value="{{ level.id }}" {% if goods.level and (goods.level.id == level.id) %}selected{% endif %}>{{ level.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group {% if app.user|has_auth('PURCHASE') %}{% else %}hidden{% endif %}">
        <label class="col-md-2">來源</label>

        <div class="col-md-10">
            <select name="source" class="form-control" {% if app.user|has_auth('PURCHASE') %}{% else %}disabled="disabled"{% endif %}>
                <option value="">請選擇</option>
                {% for source in sources %}
                    <option value="{{ source.id }}" {% if goods.source and (goods.source.id == source.id) %}selected{% endif %}>{{ source.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">主圖</label>

        <div class="col-md-5">
            {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}<input type="file" name="img" accept=".gif,.jpg,.jpeg,.png" />{% endif %}

            <img class="select-image" style="width: 100%;"/>
        </div>

        <div class="col-md-5">
            <label>目前商品圖</label>
            <img src="{% if goods.img %}{{ goods.img.path }}?t={{ 'now'|date('U') }}{% endif %}" style="width: 100%;"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">備註</label>

        <div class="col-md-10">
            <textarea name="goods_memo" class="form-control" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}readonly{% endif %}>{{ goods.memo }}</textarea>
        </div>
    </div>

     <div class="form-group">
        <label class="col-md-2">商品描述</label>

        <div class="col-md-10">
            <textarea name="description" class="form-control" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}readonly{% endif %}>
                {% if goods.description %}{{ goods.description.content }}{% endif %}
            </textarea>
        </div>
    </div>

     <div class="form-group">
        <label class="col-md-2">賣點</label>

        <div class="col-md-10">
            <textarea name="brief" class="form-control text-left" style="height: 150px;" {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}readonly{% endif %}>{% spaceless %}{% if goods.brief %}{{ goods.brief.content|raw }}{% endif %}{% endspaceless %}</textarea>
        </div>
    </div>

     <div class="form-group">
        <label class="col-md-2">附圖</label>

        <div class="col-md-5">
            {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}<input type="file" name="desimg" accept=".gif,.jpg,.jpeg,.png" />{% endif %}

            <img class="select-desimage" style="width: 100%;"/>
        </div>

        <div class="col-md-5">
            <label>目前商品圖</label>
            <img src="{% if goods.desimg %}{{ goods.desimg.path }}?t={{ 'now'|date('U') }}{% endif %}" style="width: 100%;"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">分類</label>

        <div class="col-md-10">
           {% for category in categorys %}
                <label>{{ category.name }}</label>
                <input type="checkbox" name="category[]" value="{{ category.id }}"
                {% if goods.hasCategory(category) %}checked{% endif %}
                {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and  app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled{% endif %}
               >
           {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">官網是否上架</label>

        <div class="col-md-10">
            <input type="checkbox" name="isAllowWeb" value="1"
                {% if goods.isAllowWeb %}checked{% endif %}
                {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled{% endif %}
               >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">是否批發</label>

        <div class="col-md-10">
            <input type="checkbox" name="isAllowWholesale" value="1"
                {% if goods.isAllowWholesale %}checked{% endif %}
                {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled{% endif %}
               >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">是否允許刷卡</label>

        <div class="col-md-10">
            <input type="checkbox" name="isAllowCreditCard" value="1"
                {% if goods.isAllowCreditCard %}checked{% endif %}
                {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled{% endif %}
               >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">是否允許預購</label>

        <div class="col-md-10">
            <input type="checkbox" name="isBehalf" data-id="{{ goods.id }}" value="1"
                {% if goods.isBehalf %}checked{% endif %}
                {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods)) or app.user|has_auth('EDIT_PRODUCT_ALL') %}{% else %}disabled{% endif %}
               >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">轉店歷程</label>

        <div class="col-md-10">
            {% for family in goodsFamilys %}
                <span class="label {% if loop.last %}label-primary{% else %}label-default{% endif %}">{{ family.sn }}</span>

                {% if loop.last %}{% else %}<i class="glyphicon glyphicon-arrow-right"></i>{% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">&nbsp;</label>

        <div class="col-md-10">
            {% if (app.user|has_auth('EDIT_PRODUCT_OWN') and app.user|is_own(goods))
                or app.user|has_auth('EDIT_PRODUCT_ALL')
            %}
                <button class="btn btn-primary pull-left">儲存</button>
            {% else %}
                <span class="label label-warning">沒有編輯該商品的權限!</span>
            {% endif %}
            <!-- <button class="btn btn-default" onclick="javascript:window.close();">關閉</button> -->
        </div>
    </div>
</form>
