<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">                     
                <p>
                    {{ '2014 - ' ~ 'now'|date('Y') }} &copy; 香榭國際精品. ALL Rights Reserved. @ Unify
                    <a target="_blank" href="https://www.facebook.com/avenue2003">聯絡我們</a> | 
                    <a href="{{ path('front_manual_privacy') }}">隱私政策</a> | 
                    <a href="{{ path('front_manual_terms') }}">服務條款</a> | 
                    <a href="{{ path('front_manual_purchase') }}">購物流程</a> | 
                    <a href="{{ path('front_manual_chargeback') }}">退款說明</a> | 
                    <a href="{{ path('mobile_front_index', {device: 'm'}) }}">手機版</a>
                </p>
            </div>
        </div>
    </div> 
</div><!--/copyright--> 