{% extends '::bootstrap.html.twig' %}

{% block body -%}
{% if app.user|has_auth('BRAND') %}

    <h1>品牌列表
        <small>
            {# {% if app.user.store.id == 6 %} #}
            <a href="{{ path('brand_new') }}" class="btn btn-primary">
                新增
            </a>
            {# {% endif %} #}
        </small>
    </h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>序號</th>
                <th>名稱</th>
                <th>折扣率</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('brand_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.ratio }}</td>
                <td><a href="{{ path('brand_edit', { 'id': entity.id }) }}">編輯</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
