{% extends '::bootstrap.html.twig' %}

{% block body -%}
{% if app.user|has_auth('BRAND') %}

    <h1>{{ entity.name }}
        <small>
            <a href="{{ path('brand') }}" class="btn btn-info btn-sm">
            回到列表
        </a>
        </small>
    </h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>序號</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>名稱</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('brand_edit', { 'id': entity.id }) }}" class="btn btn-primary pull-right">
        編輯
    </a>
    
    {{ form(delete_form) }}
{% else %}
    {% include 'WoojinStoreBundle:Common:warning.html.twig' %}
{% endif %}
{% endblock %}
