{% extends '::bootstrap.html.twig' %}

{% block external %}
<style>
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
</style>

{% endblock %}


{% block body %}

<div class="row mt-30">
    <div class="col-md-12">
        <h3>
            批發商查貨
            
            <button id="logout" class="btn btn-info btn-sm">登出</span>
        </h3>
        <!-- Nav tabs -->
        <div id="navbar-example">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#product" aria-controls="product" role="tab" data-toggle="tab">商品</a>
                </li>

                <li role="presentation">
                    <a href="#criteria" aria-controls="criteria" role="tab" data-toggle="tab">搜尋條件</a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="product">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            共 {{ count }} 筆 (每頁 50 筆)
                            <small>
                                <select name="page">
                                    {% for i in 1..lastpage %}
                                        <option value="{{ i }}" {% if i == page %}selected{% endif %}>第{{ i }}頁</option>
                                    {% endfor %}
                                </select>
                            </small>
                        </h3>
                    </div>

                    {% for product in products %}
                    <div class="col-md-3 col-xs-6 mt-20">
                        {% if product.img %}
                        <img src="{{ product.img.path }}"  class="img-responsive lazy" style="height: 200px;" alt="圖片" />
                        {% endif %}
                        {# `售價` + `批發價` + `圖片` + `品名` + `店名` #}
                        {# <p>所在店: {{ product.sn|slice(0, 1)}}</p> #}
                        <p>{{ product.name }} {% if product.brand %}<b>[{{ product.brand.name }}]</b>{% endif %}</p>{# <p>型號: {{ product.model }}</p> #}
                        <p>售價 {{ product.price|number_format }}</p>
                        <p>批發 {{ product.wholesalePrice|number_format }}</p>
                        {# <p>型號: {{ product.model }}</p> #}
                    </div>
                    {% endfor %}

                    <div class="col-md-12">
                        <h3>
                            共 {{ count }} 筆 (每頁 50 筆)
                            <small>
                                <select name="page">
                                    {% for i in 1..lastpage %}
                                        <option value="{{ i }}" {% if i == page %}selected{% endif %}>第{{ i }}頁</option>
                                    {% endfor %}
                                </select>
                            </small>
                        </h3>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="criteria">
                
                <div class="col-md-12 mt-30 mb-30">
                    <button id="clear-all" class="btn btn-default" type="button">
                        清空
                    </button>

                    <button id="submit" class="btn btn-primary" type="button">
                        送出
                    </button>
                </div>
                
                <div class="row">
                    {# 品牌 #}
                    <div class="col-md-12 col-xs-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#brand" aria-controls="brand" role="tab" data-toggle="tab">品牌</a>
                            </li>

                            <li role="presentation">
                                <a href="#pattern" aria-controls="pattern" role="tab" data-toggle="tab">款式</a>
                            </li>
                        </ul>
                        
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="brand">
                                <h3>品牌</h3>

                                {% for brand in brands %}
                                    <div class="col-xs-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="brand_ids_{{ brand.id }}" name="brand_ids[]" {% if brand.id in brand_ids  %}checked{% endif %} value="{{ brand.id }}">
                                                {{ brand.name }}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div role="tabpanel" class="tab-pane" id="pattern">
                                <h3>款式</h3>

                                {% for pattern in patterns %}
                                    <div class="col-xs-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="pattern_ids_{{ pattern.id }}" name="pattern_ids[]" {% if pattern.id in pattern_ids %}checked{% endif %} value="{{ pattern.id }}">
                                                {{ pattern.name }}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="/bundles/woojinfront/js/plugins/jquery.lazyload.min.js"></script>
<script>

$('select[name="page"]').change(function () {
    searchFunc()
});

$('#submit').click(function () {
    searchFunc()
});

$('#clear-all').click(function () {
    $('input:checkbox').removeAttr('checked');
});

function searchFunc() {
    var patternIds = [];
    $('input[name="pattern_ids[]"]:checked').each(function () {
        patternIds.push($(this).val());
    });

    var brandIds = [];
    $('input[name="brand_ids[]"]:checked').each(function () {
        brandIds.push($(this).val());
    });

    let myParams = {
        page: $('select[name="page"]').val(),
        brand_ids: brandIds,
        pattern_ids: patternIds,
    }

    // console.log($.param(myParams));
    // console.log(Routing.generate('wholesale_index') + '?' + $.param(myParams))

    window.location.href = Routing.generate('wholesale_index') + '?' + $.param(myParams);
}

$('#logout').click(function () {
    window.location.href = '/admin/login?type=wholesale'
})

</script>

{% endblock %}
