<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h4>為於它店之寄賣商品 <span class="badge">{{ fromOwnGoodses|length }}</span></h4>
	</div>
	<div class="panel-body">
		<table class="table">
			<tbody>
				{% for goods in fromOwnGoodses %}
					{% if goods.feedBackOrder %}
					<tr>
						<td>
							<p><a class="btn btn-default btn-sm" href="{{ path('goods_edit_v2', {id: goods.id}) }}" target="_blank"><i class="glyphicon glyphicon-search"></i>{{ goods.sn }}</a></p>
							<p>
								<a class="btn btn-success btn-sm" href="{{ path('goods_edit_v2', {id: goods.current.id}) }}" target="_blank"><i class="glyphicon glyphicon-search"></i>{{ goods.current.sn }}
								</a>
							</p>
						</td>
						<td>{{ goods.name }}

							<span class="label
								{% if goods.current.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE') %}
								label-default
								{% elseif goods.current.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_SOLDOUT') %}
								label-success
								{% elseif goods.current.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_OFFSALE') %}
								label-danger
								{% elseif goods.current.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_OTHERSTORE') %}
								label-warning
								{% else %}
								label-primary
								{% endif %}"
							>{{ goods.current.status.name }}</span>
						</td>
						<td>{{ '回扣金額' ~ goods.feedBackOrder.required|number_format }}</td>
						<td>
							寄賣客戶
							{% if goods.custom %}
							{{ goods.custom.mobil }}&nbsp;{{ goods.custom.name ~ goods.custom.sex }}
							{% endif %}
						</td>
						<td>
							{% if goods.current.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_SOLDOUT')
							 or (
							 	constant('Woojin\\Utility\\Avenue\\Avenue::GS_BSO_SOLD') == goods.current.status.id
								and NULL != goods.current.auction and constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_PAY_COMPLETE') == goods.current.auction.profitStatus
							 )
							%}
								{% if goods.current.orders.last.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::OS_COMPLETE') and (goods.current.orders.last.kind.id in [
									constant('Woojin\\Utility\\Avenue\\Avenue::OK_OUT'),
									constant('Woojin\\Utility\\Avenue\\Avenue::OK_EXCHANGE_OUT'),
									constant('Woojin\\Utility\\Avenue\\Avenue::OK_TURN_OUT'),
									constant('Woojin\\Utility\\Avenue\\Avenue::OK_WEB_OUT'),
									constant('Woojin\\Utility\\Avenue\\Avenue::OK_SPECIAL_SELL'),
									constant('Woojin\\Utility\\Avenue\\Avenue::OK_SAME_BS'),
									constant('Woojin\\Utility\\Avenue\\Avenue::OK_OFFICIAL')
								]) %}
									<a class="btn btn-primary complete" href="{{ path('order_feedback_ok', {id: goods.feedBackOrder.id}) }}"><i class="glyphicon glyphicon-ok"></i>完成</a>
								{% else %}
									<span class="label label-warning">({{ goods.current.orders.last.kind.name }})尚未付清</span>
								{% endif %}
							{% endif %}
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>