<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-TW" class="ie8" {{ block('ngApp') }}> <![endif]-->  
<!--[if IE 9]> <html lang="zh-TW" class="ie9" {{ block('ngApp') }}> <![endif]-->  
<!--[if !IE]><!--> <html lang="zh-TW" {% block ngApp %}{% endblock %}> <!--<![endif]-->  
<head>
    <title>{% block title %}香榭國際精品 |  Welcome... {% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metaDescription %}香榭國際精品{% endblock %}">
    <meta name="keywords" content="二手精品，名牌包包，珠寶飾品">
    <meta name="author" content="{% block metaAuthor %}香榭國際精品{% endblock %}">

    {% block og %}{% endblock %}

    <meta name="google-site-verification" content="KcHMCbgmNORwitKOYZt4XcCfSlOJmEi0EvZ2DxdQVQU" />
    
    {% block cssPlugins %}
        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/line-icons/line-icons.css">
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/scrollbar/src/perfect-scrollbar.css">
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/noUiSlider/jquery.nouislider.css">
        <link rel="stylesheet" href="/bundles/woojinfront/js/plugins/bower_components/angular-busy/dist/angular-busy.css">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/revolution-slider/rs-plugin/css/settings.css">
        <link rel="stylesheet" href="/bundles/woojinfront/assets/css/pages/blog_masonry_3col.css">
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/master-slider/quick-start/masterslider/style/masterslider.css">
        <link rel='stylesheet' href="/bundles/woojinfront/plugins/master-slider/quick-start/masterslider/skins/default/style.css">
 
        <link rel="stylesheet" href="/bundles/woojinfront/assets/css/pages/feature_timeline1.css">
        <link rel="stylesheet" href="/bundles/woojinfront/assets/css/pages/page_invoice.css">
        <link rel="stylesheet" href="/bundles/woojinfront/assets/css/pages/profile.css">
        <link rel="stylesheet" href="/bundles/woojinfront/assets/css/pages/feature_timeline2.css">
        <link rel="stylesheet" href="/bundles/woojinfront/assets/plugins/countdown/css/countdown.css">
    {% endblock %}
    
    {% block cssGeneral %}
        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico">
    
        {% block preExt %}{% endblock %}
        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bundles/woojinfront/css/shop.style.css">
        <link rel="stylesheet" href="/bundles/woojinfront/css/style.css">
        <link rel="stylesheet" href="/bundles/woojinfront/css/light.css">
        <link rel="stylesheet" href="/bundles/woojinfront/css/app.css">
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/line-icons/line-icons.css">
        <link rel="stylesheet" href="/bundles/woojinfront/plugins/owl-carousel/owl-carousel/owl.carousel.css">
        {# <link rel="stylesheet" href="/bundles/woojinfront/plugins/jquery-steps/css/custom-jquery.steps.css"> #}
        {# <link rel="stylesheet" href="/bundles/woojinfront/plugins/jquery-steps/css/jquery.steps.css"> #}
        <link rel="stylesheet" href="/bundles/woojinfront/css/pages/log-reg-v3.css">

        <!-- CSS Theme -->
        <link rel="stylesheet" href="/bundles/woojinfront/css/theme-colors/light.css">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="/bundles/woojinfront/css/custom.css">
        <link rel="stylesheet" href="/bundles/woojinfront/css/spinner.css">
        {% block ext %}{% endblock %}
    {% endblock %}
</head>  

<body class="header-fixed">

{% if not app.user %}
    {% include 'WoojinFrontBundle:Common:googlemanager.html.twig' %}
{% endif %}

{% block addThis %}
    {% if not isMobile() %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5514e0815207bc6b" async="async"></script>
    {% endif %}
{% endblock %}

{% block perloader %}
    {# {% include 'WoojinFrontBundle:Common:preloader.html.twig' %} #}
{% endblock %}

{% if edit_form is defined %}
    {% form_theme edit_form 'WoojinFrontBundle:Common/Form:_editform.html.twig' %}
{% endif %}

{% if delete_form is defined %}
    {% form_theme delete_form 'WoojinGoodsBundle:Common:_deleteform.html.twig' %}
{% endif %}
        
{% if form is defined %}
    {% form_theme form 'WoojinGoodsBundle:Common:_createform.html.twig' %}
{% endif %}

{% block header %}
<!--=== Header v5 ===-->  
{{ render(controller('WoojinFrontBundle:Common:header')) }}
<!--=== End Header v5 ===-->
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
<!--=== Footer v4 ===-->
{{ render(controller('WoojinFrontBundle:Common:footer')) }}
<!--=== End Footer v4 ===-->
{% endblock %}

{% block fixed %}{% endblock %}

{% block modal %}
    {% include 'WoojinFrontBundle:Common/Modal:board.html.twig' %}
    {% include 'WoojinFrontBundle:Common/Modal:notifyLogin.html.twig' %}
    {% include 'WoojinFrontBundle:Common/Modal:onlineConsign.html.twig' %}
    {% include 'WoojinFrontBundle:Common/Modal:behalf.html.twig' %}
    {% include 'WoojinFrontBundle:Common/Modal:notAllowedCreditCard.html.twig' %}
{% endblock %}

{% block jsGeneral %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    
    {#<script src="/bundles/woojinfront/plugins/jquery/jquery.min.js"></script>
    <script src="/bundles/woojinfront/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="/bundles/woojinfront/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bundles/woojinfront/plugins/cookie.js"></script>
    <script src="/bundles/woojinfront/js/avenue-cart.js"></script>
    <script src="/bundles/woojinfront/js/avenue-fb.js"></script>
    <script src="/bundles/woojinfront/js/shop.app.js"></script>
    <script src="/bundles/woojinfront/js/plugins/owl-carousel.js"></script>
    <script src="/bundles/woojinfront/plugins/back-to-top.js"></script>
    <script src="/bundles/woojinfront/plugins/scrollbar/src/jquery.mousewheel.js"></script>
    <script src="/bundles/woojinfront/plugins/scrollbar/src/perfect-scrollbar.js"></script>
    <script src="/bundles/woojinfront/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>

    <script src="/bundles/woojinfront/plugins/jquery.parallax.js"></script>
    <script src="/bundles/woojinfront/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/bundles/woojinfront/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/bundles/woojinfront/js/plugins/revolution-slider.js"></script>
    <script src="/bundles/woojinfront/assets/plugins/masonry/jquery.masonry.min.js"></script>
    <script src="/bundles/woojinfront/assets/js/pages/blog-masonry.js"></script>

    <script src="/bundles/woojinfront/plugins/noUiSlider/jquery.nouislider.full.min.js"></script>
    <script src="/bundles/woojinfront/js/plugins/bower_components/angular/angular.js"></script>
    <script src="/bundles/woojinfront/js/plugins/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bundles/woojinfront/js/plugins/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bundles/woojinfront/js/plugins/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bundles/woojinfront/js/plugins/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bundles/woojinfront/js/plugins/bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="/bundles/woojinfront/js/plugins/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/bundles/woojinfront/js/app.js"></script>
    <script src="/bundles/woojinfront/js/controller.js"></script>
    <script src="/bundles/woojinfront/js/service.js"></script>
    <script src="/bundles/woojinfront/js/directive.js"></script>

    <script src="/bundles/woojinfront/plugins/master-slider/quick-start/masterslider/masterslider.min.js"></script>
    <script src="/bundles/woojinfront/plugins/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

    <script src="/bundles/woojinfront/js/plugins/master-slider.js"></script>
    <script src="/bundles/woojinfront/js/forms/product-quantity.js"></script>

    <script src="/bundles/woojinfront/plugins/sky-forms/version-2.0.1/js/jquery.validate.min.js"></script>
    <script src="/bundles/woojinfront/js/forms/page_registration.js"></script>
    <script src="/bundles/woojinfront/plugins/twzipcode/twzipcode.js"></script>
    <script src="/bundles/woojinfront/js/plugins/jquery.numeric.js"></script>
    <script src="/bundles/woojinfront/js/plugins/stepWizard.js"></script>
    <script src="/bundles/woojinfront/js/plugins/jquery.form.js"></script>

    <script src="/bundles/woojinfront/js/custom.js"></script>#}

    {#<script type="text/javascript" src="/js/compiled/front.js"></script>#}
    {% javascripts '@front_js' filter="?uglifyjs2" output='js/compiled/front.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block fbSDK %}
    {% include 'WoojinFrontBundle:Common:fbsdk.html.twig' %}
{% endblock %}

<script>App.init();</script>

{% block jsExec %}{% endblock %}

{% block ltIE9 %}
<!--[if lt IE 9]>
    <script src="/bundles/woojinfront/plugins/respond.js"></script>
    <script src="/bundles/woojinfront/plugins/html5shiv.js"></script>
    <script src="/bundles/woojinfront/js/plugins/placeholder-IE-fixes.js"></script>
    <script>
    alert('您的瀏覽器過舊，可能導致無法正常瀏覽網頁。請將您的瀏覽器更新至較新的版本。')
    </script>
<![endif]-->

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
{% endblock %}

</body>
</html> 