{% verbatim %}
<div ng-controller="PunchInCtrl" class="tab-pane fade active in" id="punch-in">
  <p>&nbsp;</p>

  <form role="form">
    <div class="form-group">

    <input type="text" class="form-control" placeholder="條碼"
      ng-enter="punch(currentPunchSn);"
      ng-model="currentPunchSn"
    />
    </div>
  </form>

  <p>&nbsp;</p>
  <h4><small>目前刷入: {{ punchSuccessSns.length }}件</small></h4>
  <a ng-repeat="sn in punchSuccessSns" href="{{ genProductUrl(sn) }}" class="label label-success pull-left" style="margin-left: 5px;" target="_blank">{{ sn }}</a>
  <br/>
  <a ng-repeat="sn in punchFailedSns" href="{{ genProductUrl(sn) }}" class="label label-danger pull-left" style="margin-left: 5px;" target="_blank">{{ sn }}</a>
  <br/>

  <div class="alert alert-warning" ng-show="isActSuccess(returnObj.status) && returnObj.auction.product.is_alan_in">
    此商品為香榭進貨
  </div>
  <table class="table table-striped" ng-show="isActSuccess(returnObj.status)">
    <tr>
      <td>產編</td>
      <td>{{ returnObj.auction.product.sn }}</td>
    </tr>
    <tr>
      <td>品名</td>
      <td>{{ returnObj.auction.product.name }}</td>
    </tr>
    <tr>
      <td>狀態</td>
      <td>{{ returnObj.auction.product.status.name }}</td>
    </tr>
    <tr>
      <td>客戶抽%</td>
      <td>{{ returnObj.auction.custom_percentage }}</td>
    </tr>
    <tr>
      <td>門市抽%</td>
      <td>{{ returnObj.auction.store_percentage }}</td>
    </tr>
    <tr>
      <td>BSO抽%</td>
      <td>{{ returnObj.auction.bso_percentage }}</td>
    </tr>
    <tr ng-show="return.auction.seller">
      <td>賣家</td>
      <td>{{ returnObj.auction.seller.name }}{{ returnObj.auction.seller.mobil }}</td>
    </tr>
  </table>

  <div ng-show="0 == returnObj.status" class="alert alert-danger text-left">
     {{ returnObj.msg }}
  </div>
</div>
{% endverbatim %}
