{% verbatim %}
<h2>
  BSO銷貨介面
  <small>
    <a href="#/auction_profit" style="position:fixed; right: 10px;">前往毛利檢視頁面<i class="glyphicon glyphicon-arrow-right"></i></a>
  </small>
</h2>

<form role="form">
  <div class="form-group">
    <input type="text" name="productSn" class="form-control" placeholder="條碼"
      ng-class="{'alert-error': isFail(showResponse), 'hidden': isSuccess(showResponse)}"
      ng-enter="find(productSn) && clean(soldResponse)"
      ng-model="productSn"
    />
  </div>
</form>
<a ng-repeat="sn in punchSuccessSns" href="{{ genProductUrl(sn) }}" class="label label-success pull-left" style="margin-left: 5px;" target="_blank">{{ sn }}</a>
<br/>

<div class="panel panel-success"
  ng-show="isSuccess(soldResponse)"
>
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="text-info" href="{{ genProductUrl(soldResponse.auction.product.sn) }}" target="_blank">
        {{ getSn(soldResponse.auction.product) }}
      </a>
      競拍售出完成
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <img class="img-circle" ng-src="{{soldResponse.auction.product.img.path}}">
      </div>
    </div>
    <ul class="text-left">
      <li>售價:{{soldResponse.auction.price}}</li>
      <li ng-show="0 < soldResponse.auction.buyer.name.length">購買人: {{soldResponse.auction.buyer.name}}, {{soldResponse.auction.buyer.mobil}}</li>
      <li>售出操作人員: {{soldResponse.auction.bsser.username}}</li>
      <li ng-show="0 < soldResponse.auction.seller.name.length">競拍賣家: {{soldResponse.auction.seller.name}}, {{soldResponse.auction.seller.mobil}}</li>
      <li ng-show="0 < soldResponse.auction.custom_percentage">客戶分配:{{soldResponse.auction.custom_profit}}</li>
      <li ng-show="0 < soldResponse.auction.store_percentage">門市分配:{{soldResponse.auction.store_profit}}</li>
      <li>BSO分配:{{soldResponse.auction.bso_profit}}</li>
      <li>售出時間:{{soldResponse.auction.sold_at}}</li>
      <li ng-show="0 < soldResponse.auction.memo.length" ng-bind-html="soldResponse.auction.memo"></li>
    </ul>
  </div>

  <div class="panel-footer">
    <button class="btn btn-warning" ng-click="cancelSold(soldResponse.auction.product.sn)">
      取消售出
    </button>
  </div>
</div>

<form role="form" ng-show="isSuccess(showResponse) && !isEmpty(soldResponse)">
  <h3>請輸入售價及客戶手機
    <small>
      <button type="button" class="btn btn-default" ng-click="drop()">
        <i class="glyphicon glyphicon-refresh"></i>
        重刷
      </button>
    </small>
  </h3>

  <div ng-show="isSuccess(cancelResponse)" class="alert alert-success">
    <a class="alert-link" href="{{ genProductUrl(cancelResponse.auction.product.sn) }}" target="_blank">{{ cancelResponse.auction.product.sn }}</a>取消售出完成!
  </div>
  <div class="form-group">
    <div ng-show="isFail(soldResponse)" class="alert alert-danger text-left">
       {{ soldResponse.msg }}
    </div>
  </div>
  <div class="form-group">

    <input type="number" name="price" class="form-control" placeholder="售價" required
      ng-class="{'alert-error': isFail(soldResponse), 'alert-ok': isSuccess(soldResponse)}"
      ng-model="price"
      ng-enter="sold(productSn, price, customMobil)"
    />
  </div>

  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="客戶手機"
        ng-model="customMobil"
        ng-keyup="isGhostMobil = false"
        ng-enter="sold(productSn, price, customMobil)"
        typeahead-no-results="00000"
        typeahead="mobil for mobil in loadCustomsMobils($viewValue)"
      />
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" ng-click="fetchCustom(customMobil)" ng-disabled="isMobilEmpty(customMobil)">
          <i class="glyphicon glyphicon-search"></i>
          檢查客戶
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="alert alert-danger pull-left" style="width: 100%" ng-show="isGhostMobil">
        手機號碼 <b>{{customMobil}}</b>無對應客戶，請新增客戶!
    </div>
    <button type="button" class="btn btn-sm btn-primary pull-left" ng-click="sold(productSn, price, customMobil)"
      ng-disabled="!isInputValid(price, customMobil)"
    >
      <i class="glyphicon glyphicon-send"></i>
        售出
    </button>
  </div>
</form>
<br>
<br>
<table class="table table-striped" ng-show="isSuccess(showResponse)">
  <tr>
    <td>圖片</td>
    <td>
      <img class="img-circle" ng-src="{{showResponse.auction.product.img.path}}">
    </td>
  </tr>
  <tr>
    <td>產編</td>
    <td>
      <a href="{{ genProductUrl(showResponse.auction.product.sn) }}" target="_blank">{{ getSn(showResponse.auction.product) }}</a>
    </td>
  </tr>
  <tr>
    <td>品名</td>
    <td>{{ showResponse.auction.product.name }}</td>
  </tr>
  <tr>
    <td>狀態</td>
    <td>{{ showResponse.auction.product.status.name }}</td>
  </tr>
  <tr>
    <td>原始售價</td>
    <td>{{ showResponse.auction.product.price }}</td>
  </tr>
  <tr>
    <td>客戶抽%</td>
    <td>{{ showResponse.auction.custom_percentage }}</td>
  </tr>
  <tr>
    <td>門市抽%</td>
    <td>{{ showResponse.auction.store_percentage }}</td>
  </tr>
  <tr>
    <td>BSO抽%</td>
    <td>{{ showResponse.auction.bso_percentage }}</td>
  </tr>
  <tr ng-show="return.auction.seller">
    <td>賣家</td>
    <td>{{ showResponse.auction.seller.name }}{{ showResponse.auction.seller.mobil }}</td>
  </tr>
</table>

<div ng-show="isFail(showResponse)" class="alert alert-danger text-left">
   查無競拍相關資料!
</div>
{% endverbatim %}
