{% extends 'WoojinFrontBundle::base.html.twig' %}

{% block title %}重設密碼{% endblock %}

{% block header %}{% if not isMobile() %}{{ parent() }}{% endif %}{% endblock %}
{% block footer %}{% if not isMobile() %}{{ parent() }}{% endif %}{% endblock %}

{% block body %}

<div class="row mt-30 mb-30">
    <div class="col-md-2 hidden-xs"></div>
    <div class="col-md-8 col-xs-12">
        {% if isMobile() %}
            <a href="javscript:" class="btn-u btn-u-dark" onclick="window.history.back();"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {% endif %}

        {% for flashMessage in app.session.flashbag.get('success') %}
           <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
               {{ flashMessage }}
           </div> 
        {% endfor %}

        {{ form_start(edit_form) }}
        
        <fieldset>
            {{ form_errors(edit_form) }}

            <section>
                <p>請輸入您的電子郵件地址以重設密碼。您可能需要查看垃圾郵件資料夾，或解除封鎖 avenue16882@gmail.com。</p>
            </section>

            <section>
                {# {{ form_label(edit_form.email, 'Email', {'attr': {'class': 'label'}}) }} #}
                <label class="input">
                    {{ form_errors(edit_form.email) }}
                    {{ form_widget(edit_form.email, {
                        'required': true,
                        'attr': {
                            'placeholder': '請輸入您的註冊信箱',
                            'class': 'form-control'
                        }
                    }) }}
                </label>
            </section>

            <section>
                {# {{ form_label(edit_form.captcha, '驗證碼', {'attr': {'class': 'label'}}) }} #}
                <label class="input">
                    {{ form_errors(edit_form.captcha) }}
                    {{ form_widget(edit_form.captcha, {
                        'required': true,
                        'attr': {
                            'placeholder': '請輸入圖片顯示的英文及數字',
                            'class': 'form-control'
                        }
                    }) }}
                </label>
            </section>

            <section>
                <button type="submit" class="btn-u btn-u-default btn-block margin-bottom-20">確認</button>
            </section>
        </fieldset>
        {{ form_end(edit_form) }}
    </div>
    <div class="col-md-2 hidden-xs"></div>
</div>

{% endblock %}

{% block jsExec %}
<script>
jQuery('a.captcha_reload').html('<i class="glyphicon glyphicon-refresh"></i>');
</script>
{% endblock %}