<!doctype html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>BSO調貨明細</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="{{ asset('/css/ui-darkness/jquery-ui-1.10.3.custom.min.css') }}" />
    
    <script>'use strict';</script>      
    <script src="{{ asset('/js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ asset('/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/jquery-migrate.js') }}"></script>
    <script src="{{ asset('/js/jquery.blockUI.js')}}"></script>
    <script src="{{ asset('/js/tablesorter.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <style>
    .hidden {
        display:none;
    }

    #container table.table {
        font-size: .1em;
    }

    @media print {
        header {
            display: none !important;
        }

        button.print {
            display: none !important;
        }

        #container {
            width: 20cm;
        }

        body {
            width: 21cm;
        }

        button {
            display: none !important;
        }
    }

  header div {
    display: inline-block !important;
  }

    </style>
</head>
<body style="text-align: center; ">
{% if app.user|has_auth('MOVE_RELATE') %}
    <button class="pull-left print" onclick="window.print();">列印</button>
    <header>
        <form class="form-inline">
            <p>&nbsp;</p>

            <label>店家:</label>
            {{ render( controller("WoojinBaseBundle:Base:getStoreSelect") ) }}
            
            <label>起始時間:</label>
            <input type="text" class="date" name="sStartTime" value="{{ "now"|date("Y-m-d")}}" readonly />
            
            <label>結束時間:</label>
            <input type="text" class="date" name="sEndTime" value="{{ "now"|date("Y-m-d")}}" readonly />
            
            <button type="submit" class="hide_print btn btn-default">查詢</button>
        </form>
    </header>
    <div id="container" style="position:relative; margin: 0 auto;"> <h4>
        <small>[{{ sStartTime }} ~ {{ sEndTime }}]</small> {{ store.name }} - BSO網路
        <small>存根聯</small>
    </h4><hr>

    <table class="table" style="font-size: 12px;">
        <thead>
            <tr>
                <th>動作</th>
                <th>產編</th>
                <th>品牌</th>
                <th>型號</th>
                <th>顏色</th>
                <th>新舊</th>
                <th>品名</th>
                <th>時間</th>
                <th>建立人</th>
                <th>簽名</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.action }}</td>
                <td>{{ log.product.sn }}</td>
                <td>
                    {% if log.product.brand %}
                        {{ log.product.brand.name }}
                    {% endif %}
                </td>
                <td>{{ log.product.model }}</td>
                <td>
                    {% if log.product.color %}
                        {{ log.product.color.name }}
                    {% endif %}
                </td>
                <td>
                    {% if log.product.level %}
                        {{ log.product.level.name }}
                    {% endif %}
                </td>
                <td>{{ log.product.name }}</td>
                <td>{{ log.createAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ log.creater.username }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <div style="page-break-after:always;">&nbsp;</div>

    <h4>
        <small>[{{ sStartTime }} ~ {{ sEndTime }}</small> {{ store.name }} - BSO網路

        <small>收執聯</small>
    </h4><hr>

    <table class="table" style="font-size: 12px;">
        <thead>
            <tr>
                <th>動作</th>
                <th>產編</th>
                <th>品牌</th>
                <th>型號</th>
                <th>顏色</th>
                <th>新舊</th>
                <th>品名</th>
                <th>時間</th>
                <th>建立人</th>
                <th>簽名</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.action }}</td>
                <td>{{ log.product.sn }}</td>
                <td>
                    {% if log.product.brand %}
                        {{ log.product.brand.name }}
                    {% endif %}
                </td>
                <td>{{ log.product.model }}</td>
                <td>
                    {% if log.product.color %}
                        {{ log.product.color.name }}
                    {% endif %}
                </td>
                <td>
                    {% if log.product.level %}
                        {{ log.product.level.name }}
                    {% endif %}
                </td>
                <td>{{ log.product.name }}</td>
                <td>{{ log.createAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ log.creater.username }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
$('input.date').datepicker({
    dateFormat: "yy-mm-dd"
});
</script>
{% else %}
    {% include 'WoojinStoreBundle:Common:warning.html.twig' %}
{% endif %}
</body>
</html>