{% extends '::bootstrap.html.twig' %}

{% block body -%}
<link rel="stylesheet" href="/prettyPhoto/css/prettyPhoto.css">

{% if app.user|has_auth('MOVE_RELATE') %}
    <h1>調貨清單 &nbsp;&nbsp; <small><a href="{{ path('goods_assigndaylist') }}"><i class="glyphicon glyphicon-share-alt"></i>前往列印調貨明細</a></small></h1><hr>

    <div style="margin-top: 20px">&nbsp;</div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% if loop.first %}
            <div class="alert alert-success">
        {% endif %}
        <p>{{ flashMessage }}</p>
        {% if loop.first %}
            </div>
        {% endif %}
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        {% if loop.first %}
            <div class="alert alert-danger">
        {% endif %}
        <p>{{ flashMessage }}</p>
        {% if loop.first %}
            </div>
        {% endif %}
    {% endfor %}

    <table class="records_list move table">
        <thead>
            <tr>
                <th>Id</th>
                <th>狀態</th>
                <th>發起請求時間</th>
                <th>最後處理時間</th>
                <th>調貨商品</th>
                <th>出貨方</th>
                <th>接收方</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('move_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    <span class="label 
                    {% if entity.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::MV_REJECT') %}label-danger{% endif %}
                    {% if entity.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::MV_CANCEL')%}label-default{% endif %}
                    {% if entity.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::MV_COMPLETE')%}label-success{% endif %}
                    {% if entity.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::MV_CONFIRM')%}label-primary{% endif %}
                    {% if entity.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::MV_NOT_CONFIRM')%}label-info{% endif %}
                    ">
                        {{ entity.status.name }}
                    </span>
                </td>
                <td>{% if entity.createAt %}{{ entity.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updateAt %}{{ entity.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if entity.memo|length > 0 %}
                        <span class="move-memo label label-warning" data-placement="top" data-toggle="popover" title="備註" data-content="{{ entity.memo }}">備註</span>
                    {% endif %}

                    {% if entity.orgGoods.brand %}
                        <strong>{{ entity.orgGoods.brand.name }}&nbsp;</strong>
                    {% endif %}
                    <a href="{{ path('goods_edit_v2', {id: entity.orgGoods.id }) }}?iframe=true&width=100%&height=100%" rel="prettyPhoto[iframes]" >{{ entity.orgGoods.name }}</a> &nbsp; {{ entity.orgGoods.sn }}</small></td>
                <td>
                    {% if entity.from %}
                        {{ entity.from }} <span class="label {% if app.user.store.id == entity.from.id %}label-primary{% else %}label-default{% endif %}">{{ entity.thrower }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if entity.destination %}
                        {{ entity.destination }}
                        <span class="label {% if app.user.store.id == entity.destination.id %}label-primary{% else %}label-default{% endif %}">{% if entity.catcher %}{{ entity.catcher.username }}{% else %}尚未指定{% endif %}</span>
                    {% endif %}
                </td>
                <td>
                    {% if entity.from %}
                        {% if entity.from.id == app.user.store.id %}

                            {% if entity.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::MV_NOT_CONFIRM') and app.user|has_auth('MOVE_RESPONSE') %}
                            <a href="{{ path('order_backOrder_agree', {id: entity.id}) }}" class="btn btn-primary btn-sm">同意</a>
                            {% endif %}

                            {% if entity.status.id in 
                            [
                                constant('Woojin\\Utility\\Avenue\\Avenue::MV_NOT_CONFIRM'),
                                constant('Woojin\\Utility\\Avenue\\Avenue::MV_CONFIRM')
                            ] and app.user|has_auth('MOVE_RESPONSE') %}
                            <a href="{{ path('order_backOrder_cancel', {id: entity.id}) }}" class="btn btn-default btn-sm">取消</a>
                            {% endif %}
                        {% endif %}

                        {% if entity.destination.id == app.user.store.id %}

                            {% if entity.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::MV_CONFIRM') and app.user|has_auth('MOVE_RESPONSE')%}
                            <a href="{{ path('order_backOrder_confirm', {id: entity.id}) }}" class="btn btn-primary btn-sm">到貨</a>
                            {% endif %}

                            {% if entity.status.id in 
                            [
                                constant('Woojin\\Utility\\Avenue\\Avenue::MV_NOT_CONFIRM'),
                                constant('Woojin\\Utility\\Avenue\\Avenue::MV_CONFIRM')
                            ] and app.user|has_auth('MOVE_RESPONSE') %}
                            <a href="{{ path('order_backOrder_reject', {id: entity.id}) }}" class="btn btn-danger btn-sm">拒絕</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
        {% if currentPage > 1 %}
        <li>
            <a href="{{ path('move', {page: (currentPage - 1)}) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for i in 1..pageNum %}
        <li><a href="{{ path('move', {page: i}) }}" {% if i == currentPage %}active{% endif %}>{{ i }}</a></li>
        {% endfor %}

        {% if currentPage < count %}
        <li>
        <a href="{{ path('move', {page: (currentPage + 1)}) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
        {% endif %}
        </ul>
    </nav>

    <!-- <ul>
        <li>
            <a href="{{ path('move_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> -->

<script src="{{ asset('/js/tablesorter.js') }}"></script>
<script src="{{ asset('/prettyPhoto/js/jquery.prettyPhoto.js') }}"></script>
<script>
$('table.move').tablesorter();
$('.move-memo').popover();
$("[rel^='prettyPhoto']").prettyPhoto();
</script>
{% else %}
    {% include 'WoojinStoreBundle:Common:warning.html.twig' %}
{% endif %}
{% endblock %}
