{% extends 'WoojinFrontBundle:Profile/common:layout.html.twig' %}

{% import 'WoojinFrontBundle:Widget/Custom/Form:schema.html.twig' as formSchemaWidget %}

{% block title %}密碼修改{% endblock %}

{% block profileBody %}

{% for flashMessage in app.session.flashbag.get('success') %}
   <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
       {{ flashMessage }}
   </div> 
{% endfor %}

{{ form_start(edit_form) }}
<header>密碼修改</header>

<fieldset>
    {{ form_errors(edit_form) }}

    <section>
        {{ form_label(edit_form.password.first, '密碼', {'attr': {'class': 'label'}}) }}
        <label class="input">
            {{ form_errors(edit_form.password.first) }}
            {{ form_widget(edit_form.password.first, {
                'required': true,
                'attr': {
                    'placeholder': '請輸入新密碼(至少各一位英文字母、數字,長度 6 ~ 25 個字元)',
                    'class': 'form-control'
                }
            }) }}
        </label>
    </section>

    <section>
        {{ form_label(edit_form.password.second, '確認密碼', {'attr': {'class': 'label'}}) }}
        <label class="input">
            {{ form_errors(edit_form.password.second) }}
            {{ form_widget(edit_form.password.second, {
                'required': true,
                'attr': {
                    'placeholder': '請確認密碼',
                    'class': 'form-control'
                }
            }) }}
        </label>
    </section>

    <section>
        <button type="submit" class="btn-u btn-u-default btn-block margin-bottom-20">確認</button>
    </section>
</fieldset>
{{ form_end(edit_form) }}

{% endblock %}



