{% extends 'WoojinOrderBundle:Orders:orders.layout.html.twig' %}

{% block library_css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/css/order.css') }}">
{% endblock %}

{% block body %}
<div id="orders">
	<ul>
		{% if app.user|has_auth('PURCHASE') %}
			<li><a href="#orders-purchase" data-icon="t">商品進貨</a></li>
		{% endif %}

		{% if app.user|has_auth('SELL') %}
			<li><a href="#orders-sale" data-icon="w">商品銷貨</a></li>
		{% endif %}

		{% if app.user|has_auth('MULTI_SELL') %}
			<li><a href="#orders-multisale" data-icon="w">多筆銷貨</a></li>
		{% endif %}

		{% if app.user|has_auth('SELL') %}
			<li><a href="#orders-turnchange" data-icon="p">退貨換貨</a></li>
		{% endif %}

		{% if app.user|has_auth('READ_CUSTOM') %}
			<li><a href="#orders-custom" data-icon="d">客戶資料</a></li>
		{% endif %}

		{% if app.user|has_auth('PAYTYPE') %}
			<li><a href="#orders-payType" data-icon="b">付費方式</a></li>
		{% endif %}

		{% if app.user|has_auth('PAYTYPE') %}
			<li><a href="#orders-rate" data-icon="a">匯率設定</a></li>
		{% endif %}

		{% if app.user|has_auth('ACTIVITY_SELL') or app.user|has_auth('ACTIVITY_MANAGE') %}
			<li><a href="#orders-specialSell" data-icon="w">特殊銷貨</a></li>
		{% endif %}

		<li><a href="#orders-bso" data-icon="w">BSO銷貨管理</a></li>

		{% if app.user|has_auth('HAND_GEN_INVOICE') %}
			<li><a href="#orders-keyInvoiceByhand">手key出貨憑證</a></li>
		{% endif %}

		{% if app.user|has_auth('WEB_ORDER_MANAGE') %}
			<li><a href="#invoice-webindex">官網訂單管理</a></li>
		{% endif %}
	</ul>

	{% if app.user|has_auth('PURCHASE') %}
		<div id="orders-purchase">
			{% include 'WoojinOrderBundle:Orders/UIpartial:purchase.html.twig' %}
		</div>
	{% endif %}

	{% if app.user|has_auth('SELL') %}
		<div id="orders-sale" >
			{% include 'WoojinOrderBundle:Orders/UIpartial:sale.html.twig' %}
		</div>
	{% endif %}

	{% if app.user|has_auth('MULTI_SELL') %}
		<div id="orders-multisale" ><a class="btn btn-success" href="{{ path('order_multisale') }}" target="_blank"><i data-icon="w"></i>前往多筆銷貨</a></div>
	{% endif %}

	{% if app.user|has_auth('SELL') %}
		<div id="orders-turnchange"	>
			{% include 'WoojinOrderBundle:Orders/UIpartial:turnchange.html.twig' %}
		</div>
	{% endif %}

	{% if app.user|has_auth('READ_CUSTOM') %}
		<div id="orders-custom" >
			<a class="btn btn-success" href="{{ path('order_custom_temp') }}" target="_blank"><i data-icon="w"></i>前往客戶資料管理</a>
		</div>
	{% endif %}

	{% if app.user|has_auth('PAYTYPE') %}
		<div id="orders-payType" >
			<a class="btn btn-success" href="{{ path('paytype') }}" target="_blank"><i data-icon="w"></i>設定付費方式</a>
		</div>
	{% endif %}

	{% if app.user|has_auth('PAYTYPE') %}
		<div id="orders-rate"><a class="btn btn-success" href="{{ path('exchange_rate') }}" target="_blank"><i data-icon="w"></i>匯率設定</a></div>
	{% endif %}

	{% if app.user|has_auth('ACTIVITY_SELL') or app.user|has_auth('ACTIVITY_MANAGE') %}
		<div id="orders-specialSell">
			{% if app.user|has_auth('ACTIVITY_SELL') %}
				<a class="btn btn-success" href="{{ path('order_special_sale') }}" target="_blank"><i data-icon="w"></i>前往特殊銷貨</a>
			{% endif %}

			{% if app.user|has_auth('ACTIVITY_MANAGE') %}
				<a class="btn btn-success" href="{{ path('activity') }}" target="_blank"><i data-icon="w"></i>前往活動管理</a>
			{% endif %}
		</div>
	{% endif %}

	<div id="orders-bso">
		{% if constant('Woojin\\Utility\\Avenue\\Avenue::STORE_BSO') == app.user.store.id  %}
		<a class="btn btn-success" href="{{ path('auction') }}#/auction_sold" target="_blank">
			<i data-icon="w"></i>
			前往BSO銷貨
		</a>
		{% endif %}

		<a class="btn btn-success" href="{{ path('movelog') }}" target="_blank"><i data-icon="w"></i>前往BSO調貨管理</a>

		<a class="btn btn-success" href="{{ path('auction') }}#/auction" target="_blank"><i data-icon="w"></i>前往BSO管理</a>
	</div>

	{% if app.user|has_auth('HAND_GEN_INVOICE') %}
		<div id="orders-keyInvoiceByhand">
			<a class="btn btn-success" href="{{ path('orders_keyinvoicebyhand') }}" target="_blank"><i data-icon="w"></i>前往手key出貨憑證</a>
		</div>
	{% endif %}

	{% if app.user|has_auth('WEB_ORDER_MANAGE') %}
		<div id="invoice-webindex">
			<a class="btn btn-success" href="{{ path('admin_invoice_web_index') }}" target="_blank"><i data-icon="w"></i>官網訂單管理</a>

			<a class="btn btn-success" href="{{ path('behalf') }}" target="_blank"><i data-icon="w"></i>官網代購管理</a>
		</div>
	{% endif %}
</div>

<div class="ordersEditFormDialog" title="修改訂單"></div>
{% endblock %}

{% block library_javascript %}
	{{ parent() }}
	<script src="{{ asset('/js/order.js') }}"></script>
{% endblock %}
