{% extends '::bootstrap.html.twig' %}

{% block header %}
<style>
.form-group {
    overflow: auto;
}
.margin-only-left-10 {
    margin: 0 0 0 10px !important;
}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block body %}

{% if (app.user|is_own(goods) and app.user|has_auth('READ_PRODUCT_OWN')) or app.user|has_auth('READ_PRODUCT_ALL') %}
    {% if goods.status.id == constant('Woojin\\Utility\\Avenue\\Avenue::GS_ONSALE') %}
        {% include 'WoojinGoodsBundle:Goods/v2:virtualize.html.twig' with {goods: goods} %}
    {% endif %}

    {% include 'WoojinGoodsBundle:Yahoo:uploadModal.html.twig' with {goods: goods} %}

    <div class="row mt-10">
        {% include 'WoojinGoodsBundle:Goods/v2:navbar.html.twig' with {goods: goods} %}
    </div>

    {% include 'WoojinGoodsBundle:Goods/v2:flashbag.html.twig' %}

    <div class="row mt-30">
        <div class="col-md-12">
            {% include 'WoojinGoodsBundle:Goods/v2:productForm.html.twig' with {goods: goods} %}
        </div>

        <div class="col-md-12">
            {% include 'WoojinGoodsBundle:Goods/v2:moveout.html.twig' with {goods: goods} %}
        </div>

        <div class="col-md-12">
            {% include 'WoojinGoodsBundle:Goods/v2:orders.html.twig' with {goods: goods} %}
        </div>

        <div class="col-md-12">
            {% include 'WoojinGoodsBundle:Goods/v2:auction.html.twig' with {product: goods} %}
        </div>
    </div>

<script src="{{ asset('/js/jquery.form.js')}}"></script>
<script src="{{ asset('/js/jquery.blockUI.js')}}"></script>
<script src="{{ asset('/js/jquery.numeric.js') }}"></script>
<script src="{{ asset('/js/jquery-ui-1.10.3.min.js') }}"></script>
<script src="{{ asset('/js/jquery.datetimepicker.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="/bundles/woojingoods/js/ckeditor/ckeditor.js"></script>
<script src="{{ asset('/js/editV2.js') }}"></script>
<script src="{{ asset('/js/editv2/yahoosdk.js')}}"></script>

{% if app.user|has_auth('CANCEL_ORDER') %}
<script>
$('#auction_cancel').click(function () {
    var $this = $(this);
    loaded();
    $.post(Routing.generate('api_cancel_auction'), {sn: $this.data('sn'), _method: 'PUT'})
    .success(function (res) {
        if ({{constant('Woojin\\Utility\\Avenue\\Avenue::IS_SUCCESS')}} === parseInt(res.status)) {
            location.reload();
        } else {
            $this.text(res.msg).prop('disabled', true);
        }

        $.unblockUI();
    });
});
</script>
{% endif %}

{% if goods.yahooId %}
<script>
var yahooSdk = new YahooApiSDK({{ goods.id }});
</script>
{% else %}
<script>
yahooTriggerBind();
</script>
{% endif %}
{% else %}
    {% include 'WoojinStoreBundle:Common:warning.html.twig' %}
{% endif %}
{% endblock %}
