{% extends 'WoojinGoodsBundle:Goods:goods.layout.html.twig' %}

{% block library_css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/css/goods.css') }}">
	<link rel="stylesheet" href="{{ asset('/css/brand.css') }}">
	<style>
	.item { width: 25%; }
</style>

{% endblock %}

{% block body %}

<div id="tabs">
	<ul>
		<li><a href="#tabs-search" data-icon="i">商品查詢</a></li>

		{% if app.user|has_auth('BRAND') %}
			<li><a href="#tabs-brand" data-icon="k">品牌管理</a></li>
		{% endif %}

		{% if app.user|has_auth('COLOR') %}
			<li><a href="#tabs-color" data-icon="k">顏色管理</a></li>
		{% endif %}

		{% if app.user|has_auth('PATTERN') %}
			<li><a href="#tabs-pattern" data-icon="k">款式管理</a></li>
		{% endif %}

		{% if app.user|has_auth('SOURCE') %}
			<li><a href="#tabs-source" data-icon="k">產地管理</a></li>
		{% endif %}

		{% if app.user|has_auth('LEVEL') %}
			<li><a href="#tabs-level" data-icon="v">新舊管理</a></li>
		{% endif %}

		{% if app.user|has_auth('MT') %}
			<li><a href="#tabs-material" ><i class="icon-filter"></i>材質管理</a></li>
		{% endif %}

		{% if app.user|has_auth('BATCH_UPLOAD') %}
			<li><a href="#tabs-batch" data-icon="u">批次上傳</a></li>
		{% endif %}

		{% if app.user|has_auth('CHECK_STOCK') %}
			<li><a href="#tabs-check"><i class="icon-list-alt"></i>店內盤點</a></li>
		{% endif %}

		{% if app.user|has_auth('MOVE_RELATE') %}
			<li><a href="#tabs-move"><i class="icon-move"></i>調貨相關</a></li>
		{% endif %}

		{% if app.user|has_auth('CONSIGN_INFORM') %}
			<li><a href="#tabs-consign"><i class="icon-th-list"></i>寄賣通知</a></li>
		{% endif %}

		<li><a href="#uitox-excel">uitox</a></li>

		{% if app.user|has_auth('STORE_SETTING') %}
			<li><a href="#store-setting">商店資訊設定</a></li>
		{% endif %}

		{% if app.user|has_auth('PROMOTION_MANAGE') %}
			<li><a href="#front-promotion">前台促銷活動設定</a></li>
		{% endif %}

		{% if app.user|has_auth('CUSTOM_SN_IMPORT') %}
			<li><a href="#customSn-import">自定義代碼匯入</a></li>
		{% endif %}

		{% if app.user|has_auth('TIMELINESS_SETTINGS') %}
			<li><a href="#product-tl">搶購商品設定</a></li>
		{% endif %}

		{% if app.user|has_auth('EDIT_SEO_SLOGAN') %}
			<li><a href="#seoslogan">關鍵字設定</a></li>
		{% endif %}
	</ul>

	<div id="tabs-search">{{ render(controller('WoojinGoodsBundle:Goods:goodsSearch')) }}</div>

	{% if app.user|has_auth('BRAND') %}
		<div id="tabs-brand"><a class="btn btn-success" href="{{ path('brand') }}" target="_blank"><i data-icon="w"></i>前往品牌管理</a></div>
	{% endif %}

	{% if app.user|has_auth('COLOR') %}
		<div id="tabs-color"><a class="btn btn-success" href="{{ path('color') }}" target="_blank"><i data-icon="w"></i>前往顏色管理</a></div>
	{% endif %}

	{% if app.user|has_auth('PATTERN') %}
		<div id="tabs-pattern"><a class="btn btn-success" href="{{ path('pattern') }}" target="_blank"><i data-icon="w"></i>前往款式管理</a></div>
	{% endif %}

	{% if app.user|has_auth('SOURCE') %}
		<div id="tabs-source"><a class="btn btn-success" href="{{ path('goods_source') }}" target="_blank"><i data-icon="w"></i>前往產地管理</a></div>
	{% endif %}

	{% if app.user|has_auth('LEVEL') %}
		<div id="tabs-level"><a class="btn btn-success" href="{{ path('goods_level') }}" target="_blank"><i data-icon="w"></i>前往商品新舊管理</a></div>
	{% endif %}

	{% if app.user|has_auth('MT') %}
		<div id="tabs-material"><a class="btn btn-success" href="{{ path('goods_material') }}" target="_blank"><i data-icon="w"></i>前往材質管理</a></div>
	{% endif %}

	{% if app.user|has_auth('BATCH_UPLOAD') %}
		<div id="tabs-batch">{{ render(controller('WoojinGoodsBundle:Goods:goodsBatch')) }}</div>
	{% endif %}

	{% if app.user|has_auth('CHECK_STOCK') %}
		<div id="tabs-check"><a class="btn btn-success" href="{{ path('goods_checkonsale')}}" target="_blank"><i data-icon="w"></i>前往盤點</a></div>
	{% endif %}

	{% if app.user|has_auth('MOVE_RELATE') %}
		<div id="tabs-move">
			<a class="btn btn-success" href="{{ path('goods_assigndaylist') }}" target="_blank"><i data-icon="w"></i>前往今日調貨</a>
			<a class="btn btn-success" href="{{ path('move') }}" target="_blank"><i data-icon="w"></i>調貨管理</a>
		</div>
	{% endif %}

	{% if app.user|has_auth('CONSIGN_INFORM') %}
		<div id="tabs-consign">
			<a class="btn btn-success" href="{{ path('order_consign_done_list') }}" target="_blank"><i data-icon="w"></i>前往查看寄賣清單</a>
		</div>
	{% endif %}

	<div id="uitox-excel">
		<a class="btn btn-success" href="{{ path('uitox_index') }}"><i data-icon="w"></i>生成uitox批次上傳檔案</a>
	</div>

	{% if app.user|has_auth('STORE_SETTING') %}
		<div id="store-setting">
			<a class="btn btn-success" href="{{ path('admin_store_edit', {id: app.user.store.id }) }}">前往設定門市資訊</a>
		</div>
	{% endif %}

	{% if app.user|has_auth('PROMOTION_MANAGE') %}
		<div id="front-promotion">
			<a class="btn btn-success" href="{{ path('promotion') }}" target="_blank"><i data-icon="w"></i>前往管理促銷活動</a>
		</div>
	{% endif %}

	{% if app.user|has_auth('CUSTOM_SN_IMPORT') %}
		<div id="customSn-import">
			<a class="btn btn-success" href="{{ path('customSn_import') }}">前往自定義代碼匯入</a>
		</div>
	{% endif %}

	{% if app.user|has_auth('TIMELINESS_SETTINGS') %}
		<div id="product-tl">
			<a class="btn btn-success" href="{{ path('producttl') }}" target="_blank"><i data-icon="w"></i>前往搶購商品設定</a>
		</div>
	{% endif %}

	{% if app.user|has_auth('EDIT_SEO_SLOGAN') %}
		<div id="seoslogan">
			<a class="btn btn-success" href="{{ path('seoslogan') }}" target="_blank"><i data-icon="w"></i>前往關鍵字設定</a>
		</div>
	{% endif %}
</div>

{% endblock %}

{% block library_javascript %}

	{{ parent() }}

	<script src="{{ asset('/js/goods.js') }}"></script>
	<script src="{{ asset('/js/brand.js') }}"></script>
{% endblock %}
