{% for key, goods in GoodsPassports %}
    {% if goods.sn|slice(0, 1) == 'C' %}{% else %}
    <div class="item" title="{{ goods.status.name }}-{{ goods.name }}-{{ goods.sn }}">
        <a href="{{ path('goods_edit_v2', {id: goods.id}) }}?iframe=true&width=100%&height=100%" rel="prettyPhoto[iframes]">
            <img src="{% if goods.img %}{{ goods.img.path }}?t={{ 'now'|date('U') }}{% else %}{{ NothingPng }}{% endif %}" style="width: 100%; min-height: 150px; min-width: 150px;">

        </a>
        {% if true == goods.isAllowAuction  %}
            <div style="position: absolute; left: 0; top: 0; background-color: #ec0b0b;">{{ goods.getSn(true) }}</div>
        {% else %}
            {% if NULL == goods.custom%}
                <div style="position: absolute; left: 0; top: 0; background-color: #000;">{{ goods.getSn(true) }}</div>
            {% else %}
                <div style="position: absolute; left: 0; top: 0; background-color: #032cf3;">{{ goods.getSn(true) }}</div>
            {% endif %}
        {% endif %}

        {% if true == goods.isInShipment %}
            <div style="position: absolute; right: 0; bottom: 0; background-color: red;">{{ '待出貨' }}</div>
        {% endif %}
    </div>
    <br>
    {% endif %}
{% endfor %}
<script type="text/template" class="page-data" data-count="{{ nCount }}" data-page="{{ nNowPage }}"></script>
