<header>
	<img src="/img/111r.jpg" style="width:100%; height:50px;"/>
	<ul>
	    <li><span OnClick="location.href='{{ path('order') }}'" data-icon="c">訂單管理</span></li>
	    <li><span OnClick="location.href='{{ path('goods') }}'" data-icon="!">商品管理</span></li>
	    <li><span OnClick="location.href='{{ path('admin_store_report_reports')}}'" data-icon="o">財務報表</span></li>
	    <li><span OnClick="location.href='{{ path('user_base') }}'" data-icon="g">人事管理</span></li>
	    <li><span OnClick="location.href='{{ path('store_board') }}'" data-icon="z">系統公告</span></li>
	    <li><span OnClick="location.href='{{ path('logout') }}'" data-icon="r">用戶登出</span></li>
	</ul>
</header>