{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %} role="form">
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {attr: {class: 'form-control'}}) }}
    </div>
{% endblock form_row %}

{% block submit_widget -%}
    {% set type = type|default('submit') %}
    <button class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i>刪除</button>
{%- endblock submit_widget %}

{% block button_row %}
    <div class="form-group">
        {{ form_widget(form, {attr: {class: 'btn btn-danger'}}) }}
    </div>
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
<div class="container">
    {% for child in form %}
        <label class="checkbox">
        {{ form_widget(child) }}
        {{ form_label(child) }}
        </label>
    {% endfor %}
</div>
{% endspaceless %}

{% block textarea_widget %}    
    <textarea class="form-control min-height-300" {{ block('widget_attributes') }} value="{{ value }}">{{ value }}</textarea>
{% endblock textarea_widget %}

{% endblock choice_widget_expanded %}

{% block form_errors %}
    {% spaceless %}
    {% if errors|length > 0 %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        
        {% for error in errors %}
        {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br/>
        {% endfor %}
    </div>
    
    {% endif %}
    {% endspaceless %}
{% endblock %}

{% block captcha_widget %}
{% spaceless %}
    <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block datePicker_widget %}
    {% spaceless %}
        {%  set attr = attr|merge({'class': ((attr.class|default('') ~ ' acmeDatePicker')|trim)}) %}
        {% set  id = id ~ "_datepicker" %}
        {% set  full_name = "datepicker_" ~ full_name  %}
        <input type="text" {{ block('widget_attributes') }}/>
    {% endspaceless %}
{% endblock datePicker_widget %}